@keyframes color {
    0% { background-color: rgb(157, 90, 232); }
    25% { background-color: blue; }
    50% { background-color: rgb(21, 21, 60); }
    100% { background-color: rgb(157, 90, 232); }
  }
  
  .navbar {
    
    width: 100%;
    animation: color 30s linear infinite;
  }
  

  @keyframes rotate{
    0%{ transform: rotate(-360deg); }
    100%{ transform: rotate(360deg); }
  }


.pizza{
  animation: rotate 400s infinite;
}

@media (min-width: 320px) {
  .HomeText {
    margin-left: 20px;
    font-size: 2vw;
  }
  .HomeText p{
    font-size: 6vw;
  }
  .pizza{
    width: 50vw; 
  }
}



 @media (min-width: 768px) {
  .HomeText {
    font-size: 1vw;
  }
  .HomeText p{
    font-size: 2vw;
  }
  .pizza{
    width: 50vw; 
  }
}




@media (min-width: 1024px) {
  .HomeText {
    font-size: 1vw;
  }
  .HomeText p{
    font-size: 3vw;
  }
  .pizza{
    width: 40vw; 
  }
}

@media (min-width: 1200px) {
  .HomeText p{
    font-size: 2vw;
  }
  .HomeText p{
    font-size: 4vw;
  }
  .pizza{
    width: 30vw; 
  }
} 